@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", sans-serif;
}

main {
  background-image: url(../img/background.png);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.restart-header {
  display: flex;
  justify-content: right;
  position: fixed;
  width: 100%;
  top: 0;
  padding: 20px;
}

.restart {
  background-color: #7b51d3;
  padding: 10px 15px;
  transition: 0.5s ease;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.restart:hover {
  padding: 12px 17px;
}

.container {
  width: 300px;
  height: 369px;
  background-color: pink;
  padding: 50px;
  border-radius: 10px;
}

.count-guesses {
  font-weight: 600;
  font-size: 25px;
}

.guess-circle {
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background-color: #fff;
  overflow: hidden;
}

.num-guess {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  justify-content: center;
}

input {
  text-align: center;
  outline: none;
  font-size: 25px;
  width: 95px;
  border: none;
  background-color: #fff;
}

.hint-mssg {
  font-weight: 600;
  margin: 20px 0;
 /* background-color: #808080;s*/
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
}

p {
  cursor: default;
}
.submit-btn-container {
  display: flex;
  justify-content: center;
}

.submit {
  padding: 10px 15px;
  background-color: #7b51d3;
  border: none;
  cursor: pointer;
  transition: 0.5s ease;
  border-radius: 5px;
}

.submit:hover {
  padding: 12px 17px;
}


